# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Home Assistant spezifisch
home-assistant.log
home-assistant_v2.db
*.db-shm
*.db-wal
*.sqlite
.storage/
tts/
deps/
secrets.yaml
cloud/
custom_components/__pycache__/

# HA nur eigene Integration tracken
!custom_components/solax_cloud/**

# Python Umgebung
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# Pytest / Coverage
.pytest_cache/
.coverage
.cache
*.cover

# Jupyter / IPython
.ipynb_checkpoints/
profile_default/

# Mypy / Pyre / Ruff / Pytype
.mypy_cache/
.pyre/
.ruff_cache/
.pytype/
.dmypy.json

# Poetry / pipenv / pdm / UV / lockfiles
*.lock
.pdm.toml
.pdm-build/
__pypackages__/

# Build / dist
build/
dist/
*.egg-info/
.eggs/
*.spec
MANIFEST